RAILS_ENV=production
SECRET_KEY_BASE=ganti_dengan_hasil_openssl_rand_hex_64
DATABASE_URL=postgres://kasir:kasir_secret@db:5432/kasir_production
POSTGRES_PASSWORD=kasir_secret
REDIS_URL=redis://redis:6379/1
